* {
  margin: 0;
}
body,
html {
  width: 100%;
}
.links {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #444;
  padding: 15px 0;
  overflow: hidden;
  a {
    color: white;
    padding: 17px;
    margin: -5px;
    text-decoration: none;
    &:hover {
      background-color: #888;
    }
    &.active {
      background-color: #04aa6d;
      color: white;
    }
  }
  .icon {
    position: absolute;
    right: 0;
    top: -3px;
  }
}
